DATABASE_URL='<Enter your database url here>'
JWT_SECRET='<Enter your JWT secret here>'
TEST_DATABASE_URL='<Enter your test database url here>'

GOOGLE_CLIENT_ID='<Enter your Google client ID here>'
GOOGLE_CLIENT_SECRET='<Enter your Google client secret here>'
GOOGLE_REDIRECT_URI="http://localhost:3000/api/auth/google/callback"


TMDB_API_KEY='<Enter your TMDB API key here>'
TMDB_API_TOKEN='<Enter your TMDB API token here>'
TMDB_API_BASE_URL="https://api.themoviedb.org/3"
TMDB_API_READ_ACCESS_TOKEN='<Enter your TMDB API read access token here>'
TMDB_IMAGE_BASE_URL="https://image.tmdb.org/t/p/w500"


R2_ACCOUNT_ID='<Enter your R2 account ID here>'
R2_ACCESS_KEY_ID='<Enter your R2 access key ID here>'
R2_SECRET_ACCESS_KEY='<Enter your R2 secret access key here>'
R2_BUCKET_NAME='<Enter your R2 bucket name here>'
R2_ENDPOINT='<Enter your R2 endpoint here>'
R2_PUBLIC_BASE_URL='<Enter your R2 public base URL here>'
R2_REGION="auto"
